<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="always">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="default-style" content="on">
  <meta name="description" content="大麦教育">
  <title>Title</title>
  <script type="text/javascript" src="https://res.wx.qq.com/t/wx_fed/weui.js/res/1.2.21/weui.min.js"></script>
  <link rel="stylesheet" href="../../static/common.css">
</head>
<body data-weui-theme="light" class="page">
<p class="title">全部项目</p>
<div class="weui-cells">
  <a class="weui-cell  weui-cell_access" href="javascript:">
    <span class="weui-cell__bd">
      <span>测试项目</span>
    </span>
    <span class="weui-cell__ft"></span>
  </a>
  <a class="weui-cell  weui-cell_access" href="javascript:">
    <span class="weui-cell__bd">
      <span>电力项目</span>
    </span>
    <span class="weui-cell__ft"></span>
  </a>
</div>
<script type="text/javascript">
    // weui.alert('alert');
</script>
</body>
</html>